version: '3.9'

services:
  api:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app

  ui:
    image: python:3.10
    working_dir: /app
    volumes:
      - .:/app
    command: ["streamlit", "run", "src/ui.py"]
    ports:
      - "8501:8501"
